{% extends 'base.html' %}

{% load static %}
{% block title %} Category detail {% endblock %}
{% block content %}
<html lang="en">
  <body class="goto-here">
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>
	<div class="container text-center">
    <h2 style="font-family: 'Roboto', sans-serif;">{{ category_detail.title }}</h2>
    <img src="{{ category_detail.photo.url }}" alt="{{ category_detail.title }}" width="300" height="300">
    <p style="font-family: 'Your Font', sans-serif;">{{ category_detail.description }}</p>

    <h3 style="font-family: 'Roboto', sans-serif;">Продукты из этой категории:</h3>
	</div>
    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
				{% for product in category_detail.ProductCategory.all %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<div class="img-prod" >
							<img src="{{product.photo.url}}" width="300" height="250">
    						<div class="overlay"></div>
						</div>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{product.title}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">{{product.price}}</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>

    </section>
  </body>
</html>
{% endblock %}