{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">We serve Fresh Products</h1>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
    </section>

<section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Category</h2>
          </div>
        </div>
    	</div>
    	<div class="container">
    		<div class="row">
				{% for category in categories %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img src="{{category.photo.url}}" width="250" height="250">
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="{% url 'category_detail' category.id %}"><span>{{category.title}}</span></a></h3>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		</div>
    	</div>
    </section>

<br>
<br>
<br>
<br>
{% endblock %}
