<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

    <header>
        <h1>Products</h1>
    </header>

    <main>
        {% for product in products %}
            <h2>{{ product.title }}</h2>
            <p>{{ product.price }}</p>
            <img src="{{ product.photo.url }}" alt="{{ product.title }}" width="50" height="50">
            <p>{{ product.description }}</p>
        {% endfor %}
    </main>

    <footer>
        <p>© 2023 Am1n</p>
    </footer>

</body>
</html>
